
Homework5P2/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
Homework5P2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Homework5P2/obj/Debug/Homework5P2.csproj.AssemblyReference.cache
Homework5P1/.vs/Homework5P1/FileContentIndex/1185b6ff-bbca-4a0e-9efd-04b254f25c41.vsidx
Homework5P1/.vs/Homework5P1/FileContentIndex/25d5758e-9178-4383-974b-7faab1529dd3.vsidx
Homework5P1/.vs/Homework5P1/FileContentIndex/98ca652d-ee0c-41be-b4de-bba8a737db8d.vsidx
Homework5P1/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
Homework5P1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Homework5P1/obj/Debug/Homework5P1.csproj.AssemblyReference.cache
Homework5P1/.vs/Homework5P1/FileContentIndex/read.lock
Homework5P1/.vs/Homework5P1/v17/.suo
Homework5P2/.vs/Homework5P2/FileContentIndex/2d608413-0e3a-4530-96a1-825d484d6f70.vsidx
Homework5P2/.vs/Homework5P2/FileContentIndex/4cce861d-8ef5-4e89-b471-41d13fdbaf3b.vsidx
Homework5P2/.vs/Homework5P2/FileContentIndex/93fe233d-f608-410b-a11b-8dde42fc9e44.vsidx
Homework5P2/.vs/Homework5P2/FileContentIndex/read.lock
Homework5P2/.vs/Homework5P2/v17/.suo
