
.vs/HomeWorkPart6/FileContentIndex/8b461307-0011-45d4-82d0-8947b5f933a3.vsidx
.vs/HomeWorkPart6/FileContentIndex/read.lock
.vs/HomeWorkPart6/v17/.suo
bin/Debug/HomeWorkPart6.exe
bin/Debug/HomeWorkPart6.exe.config
bin/Debug/HomeWorkPart6.pdb
obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
obj/Debug/_IsIncrementalBuild
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/HomeWorkPart6.csproj.AssemblyReference.cache
obj/Debug/HomeWorkPart6.csproj.CoreCompileInputs.cache
obj/Debug/HomeWorkPart6.csproj.FileListAbsolute.txt
obj/Debug/HomeWorkPart6.csproj.SuggestedBindingRedirects.cache
obj/Debug/HomeWorkPart6.exe
obj/Debug/HomeWorkPart6.pdb
bin/Debug/DataBank.txt
.vs/HomeWorkPart6/FileContentIndex/e5268920-d9d1-43b1-ae87-d315d7d8b952.vsidx
.vs/HomeWorkPart6/FileContentIndex/691be161-65d6-4884-9a60-d9abe0bdda9a.vsidx
